/* STYLING FOR HOME COMPONENT ELEMENTS */

.homeWelcome {
	position: relative;
	height: calc(90vh - 50px);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.homeWelcomeImage {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	object-fit: cover;
	filter: blur(2px);
	transform: scale(1.1);
}

.homeWelcomeCenter {
	position: relative;
	height: 20vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.homeWelcomeText {
	color: #FFF;
	font-size: 6vmin;
	font-weight: bolder;
	text-align: center;
	text-shadow: 0.2vmin 0.4vmin #200;
	animation: 0.8s ease-out slideUp;
}

.homeWelcomeButtonContainer {
	display: flex;
	padding-top: 1%;
	justify-content: center;
	align-items: center;
	gap: 5vmin;
	animation: 1.2s ease-out slideUp;
}

.homeWelcomeButton {
	width: 15vmin;
	height: 5vmin;
}

@keyframes slideUp {
	from {
		opacity: 0.25;
		margin-top: 2vh;
	}
	to {
		opacity: 1.0;
		margin-top: 0px;
	}
}